server:
  port: ${SERVER_PORT
}

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: ${JPA_DDL_AUTO:validate}
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100

app:
  base-url: ${SERVER_BASE_URL}

jwt:
  secret: ${JWT_SECRET}
  access-token:
    expire-time: ${JWT_ACCESS_EXPIRE_MS:86400000}
  refresh-token:
    expire-time: ${JWT_REFRESH_EXPIRE_MS:259200000}

springdoc:
  api-docs:
    enabled: ${SWAGGER_ENABLED:true}
  swagger-ui:
    enabled: ${SWAGGER_ENABLED:true}

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS}
  allowed-methods: ${CORS_ALLOWED_METHODS}
